name: Publish WASM Package

on:
  push:
    branches: [main]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Install wasm-pack
        run: curl https://drager.github.io/wasm-pack/installer/init.sh -sSf | bash

      - name: Build library
        run: wasm-pack build --scope libresplit --target web --release

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://npm.pkg.github.com'

      - name: Build and Publish library
        run: wasm-pack publish --target web --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
